body {
  /* background-color: #3498db; */
  background-color: darkslategrey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container-fluid {
  background: #000000;
  padding: 0;
  /* border-radius: 7px; */
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100vh;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.settings-tray {
  /* background: #eee; */
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 15px;
  /* border-radius: 7px; */
}

.active-chat {
  display: block !important;
}

.no-display {
  display: none;
}

/* .left-one {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.right-one {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} */

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}

.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

.search-box {
  /* background: #fafafa; */
  background: #000;
  padding: 10px 13px;
}

.search-box .input-wrapper {
  /*background: #fff;*/
  background: #000;
  border-radius: 40px;
}

.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 30px;
  width: 86%;
  padding-left: 10px !important;
  background: rgba(255, 255, 255, 0.08);
  color: #a7a7a7;
}

input::placeholder {
  color: #a7a7a7;
  font-weight: 300;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  /*background: #fff;*/
  background: #000;
  transition: 0.3s ease;
  white-space: nowrap;
}

.friend-drawer--grey {
  /* background: #eee; */
  background: rgba(255, 255, 255, 0.08) !important;
}

.friend-drawer .text {
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  overflow: hidden;
  margin-left: 12px;
  width: -webkit-fill-available;
}

.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
  color: #bbbbbb;
}

.friend-drawer .text p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.friend-drawer .time {
  color: grey;
}

.friend-drawer--onhover:hover {
  /* background: #74b9ff; */
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.friend-drawer.active {
  /* background: #74b9ff; */
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
  color: #fff !important;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.08) !important;
}

hr {
  margin: 5px auto;
  width: 60%;
}

.chat-panel {
  max-height: 85vh;
  overflow: scroll;
  padding-bottom: 20px !important;
}

*::-webkit-scrollbar {
  display: none;
}

.chat-bubble {
  overflow-wrap: anywhere;
  padding: 10px 14px;
  background: #eee;
  margin: 10px 30px;
  border-radius: 25px;
  position: relative;
  animation: fadeIn 1s ease-in;
  color: #000;
}

/* .chat-bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}*/
.chat-bubble--left {
  width: fit-content;
}

.chat-bubble--right {
  background: #74b9ff;
  color: #fff;
  width: fit-content;
  float: right;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.offset-md-9 .chat-bubble {
  background: #74b9ff;
  color: #fff;
}

.chat-box-tray {
  /* background: #eee; */
  background: #000;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  /* margin-top: 19px; */
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}

.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}

/* .chat-box-tray i:last-of-type {
  margin-left: 25px;
} */

.material-icons:hover {
  cursor: pointer;
}

#placeholder {
  background-image: url(./../../assets/images/chatsvg2.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
}

.msg-count {
  margin: 5px;
  background-color: #74b9ff;
  padding: 0px 6px 0px 6px;
  border-radius: 15px;
  height: fit-content;
  display: inline-block;
  color: white;
  font-size: 12px;
  width: fit-content;
}

em-emoji-picker {
  display: none;
  z-index: 10px;
}

.timestamp {
  position: absolute;
  color: #808080;
  bottom: -6px;
  font-size: 10px
}

.timestamp.right{
  right: 40px !important;
}

.timestamp.left{
  left: 40px !important;
}
.chartreuse {
  color: chartreuse;
}

.red {
  color: red;
}
